.idea
FastAPI/__pycache__
backend/__pycache__
backend/app/routers/__pycache__
backend/app/constants/__pycache__
backend/app/core/__pycache__
backend/app/db/__pycache__
backend/app/models/__pycache__
data/uploads
!data/uploads/.gitkeep
*.env
backend/app/db/create_new_user.py
cheatsheet.txt
backend/app/utils/__pycache__
tests/__pycache__
*.archive
*.dump
backend/app/__pycache__
