services:
  db:
    image: postgres
    container_name: db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: nchls
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
