[project]
name = "nchls"
version = "0.1.0"

[tool.setuptools.packages.find]
where = ["."]

[tool.ruff]
line-length = 100
target-version = "py311"

[tool.mypy]
python_version = "3.11"
mypy_path = "backend"
namespace_packages = true
explicit_package_bases = true